body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: black;
  background-color: white;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 960px;
}

.flex {
  display: flex;
}

/* Header section */

header {
  height: 30rem;
  background-image: url("images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Navigation bar */
.mobile {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: white;
  background-color: cadetblue;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu span {
  padding-right: 2rem;
}

/* Main banner */
header .flex {
  justify-content: flex-end;
}

.main-banner {
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

.main-banner span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
}

/* Main section */

/* Services */
.services {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  margin: 3rem;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

.icon img.paper-icon {
  width: 3.5rem;
}

/* About */
.about {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.title {
  width: 10rem;
  background-color: cadetblue;
}

.title span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.info p {
  margin-bottom: 5rem;
}

/* Footer section */

footer {
  background-color: azure;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.container img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

@media only screen and (max-width: 1024px) { /* Tablet screen */
  .container {
    width: 100%;
  }

  header {
    height: 22rem;
  }

  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  .main-banner span {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 600px) { /* Mobile screen */
  .desktop {
    display: none;
  }

  .mobile {
    display: inherit;
  }

  .container {
    width: 100%;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .main-banner {
    margin: 9rem 0 0 0;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    text-align: center;
  }

  .main-banner span {
    font-size: 1rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }

  .icon {
    height: auto;
    margin: 0.77rem;
  }

  .icon span {
    font-size: 0.77rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .info p {
    margin-left: 0.5rem;
    margin-bottom: 4rem;
  }
}
